---
import Container from "../shared/Container.astro";
import ImageSlider from "../shared/ImageSlider.astro";

const images = [
  "/images/home/slider/cultivando-salud-chirikay-1.webp",
  "/images/home/slider/cultivando-salud-chirikay-2.webp",
  "/images/home/slider/cultivando-salud-chirikay-3.webp",
  "/images/home/slider/cultivando-salud-chirikay-4.webp",
  "/images/home/slider/cultivando-salud-chirikay-5.webp",
];
---

<section class="bg-rv-light">
  <Container className="py-20">
    <h2 class="title mb-12">Nuestra Historia</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mb-4">
      <div class="space-y-4 text-rv-dark leading-relaxed paragraph">
        <blockquote
          class="italic text-rv-dark border-l-4 border-[#4a5d3a] pl-4"
        >
          "No solo cultivamos fruta. Cultivamos unión, herencia y futuro."
        </blockquote>

        <p class="text-lg">
          Somos una asociación de familias agricultoras de Huarochirí que ha
          trabajado la tierra por generaciones. Nuestra pasión por la chirimoya
          nació del amor por nuestra comunidad y el deseo de compartir los
          frutos más puros de nuestra tierra.
        </p>

        <p class="text-lg">
          Cada día trabajamos unidos, combinando la sabiduría ancestral con
          técnicas sostenibles modernas, para ofrecerte la mejor chirimoya del
          Perú.
        </p>
      </div>

      <div class="flex justify-center lg:justify-end">
        <ImageSlider images={images} alt="Paisaje natural"  />
      </div>
    </div>
  </Container>
</section>
